.verification-code-wrapper {
    background-color: #1b2030 !important;
    border: 1px solid #32384d !important;
}

.verification-code::after {
    background-color: #1b2030 !important;
}

.verification-code span {
    background: #212638 !important;
    border: solid 1px #424652 !important;
}

.verification-code input {
    color: #e5e5e5 !important;
}


.hover-input-popup {
    position: relative;
}

.input-popup {
    display: none;
}

.hover-input-popup .input-popup {
    display: block;
    position: absolute;
    bottom: 70%;
    left: 50%;
    width: 280px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.input-popup::after {
    position: absolute;
    content: '';
    bottom: -19px;
    left: 50%;
    margin-left: -5px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #1a1a1a transparent;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.input-popup p {
    padding-left: 20px;
    position: relative;
}

.input-popup p::before {
    position: absolute;
    content: '';
    font-family: 'Line Awesome Free';
    font-weight: 900;
    left: 0;
    top: 4px;
    line-height: 1;
    font-size: 18px;
}

.input-popup p.error {
    text-decoration: line-through;
}

.input-popup p.error::before {
    content: "\f057";
    color: #ea5455;
}

.input-popup p.success::before {
    content: "\f058";
    color: #28c76f;
}



.show-filter {
    display: none;
}

.verification-code input{
    color: #b7b0b0 !important;
}

.custom--modal .close{
    cursor: pointer;
}




.support-float {
    position: fixed;
    bottom: 130px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    animation: bounce 3.5s infinite ease-in-out;
    z-index: 999999999 !important;
  }
  
  .support-float  img{
    border-radius: 50%;
    width: 56px;
    height: 56px
    
  }
  
  @keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Initial and final position */
    }
    50% {
        transform: translateY(10px); /* Bounce height */
    }
  }